<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper     
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eclipse.hotel.admin.mapper.MembershipMapper">

<!-- 전체회원 보기 -->
<select id="membershipList" resultType="memberVO">
SELECT * FROM member
ORDER BY register

</select>

<!-- 전체회원 수 -->
<select id="membershipCount" resultType="int">
SELECT COUNT(*) FROM member
</select>

<!-- 오늘 가입 회원 수 -->
<select id="todayCount" resultType="int">
SELECT COUNT(*) FROM member
WHERE TO_DATE(register) = TO_DATE(sysdate)
</select>

<!-- 회원 상세보기 -->
<select id="membershipDetail" parameterType="int" resultType="memberVO">
SELECT * FROM member
WHERE m_num = #{m_num}
</select>

<!-- 회원 상세보기 : 예약정보(숙박종료) -->
<select id="membershipReserve" parameterType="int" resultType="r_reserv_VO">
SELECT * FROM room_reserve
WHERE m_num = #{m_num} 
AND check_out &lt; sysdate
ORDER BY reservecode
</select>


</mapper>